<div class="card">
    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                        data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Add User_Admin
                    </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <form action="/admin/user/add" method="POST">
                        <div class="row">
                            <div class="col form-group">

                                <select class="custom-select mr-sm-2" name="option_tipo">
                                    {{#each dataDB_tipo}}
                                    <option id="{{idTipo}}">{{idTipo}}-{{Nombre_tipo}}</option>
                                    {{/each}}

                                </select>
                            </div>

                            <div class="col form-group">
                                <select class="custom-select mr-sm-2" name="option_carrera">
                                    {{#each dataDB_carrera}}
                                    <option id="{{idCarrera}}">{{idCarrera}}-{{Nombre_carrera}}</option>
                                    {{/each}}
                                </select>
                            </div>

                            <div class="col-md-4 form-group">
                                <input type="email" class="form-control" placeholder="uptc mail" name="mail">
                            </div>
                            <div class="col form-group">
                                <input type="number" value='0' class="form-control" placeholder="code" name="code">
                            </div>
                            <div class="col form-group">
                                <button class="btn btn-success btn-block">Add User</button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

    {{!-- contenido de la tabla de usuarios a listar --}}

    <div class="p-4">
        <h2>Usuarios</h2>
        <table class="table" id="id_user_root">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col"></th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Codigo</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Carrera</th>
                    <th scope="col">Tipo de Usuario</th>
                </tr>
            </thead>
            <tbody>
                {{#each dataDB_usuarios}}

                <tr>
                    <th scope="row">{{@key}}</th>
                    <td>
                        <div class="row">
                            <div class="input.group-text pr-2">
                                <a href="/admin/user/delete/{{Codigo}}"><img src="/img/icons/delete.png"></a>
                            </div>
                            <div class="input.group-text">
                                <a href="/admin/user/edit/{{Codigo}}"><img src="/img/icons/edit.png"></a>
                            </div>
                        </div>

                    </td>
                    <td>{{Nombre_usuario}}</td>
                    <td>{{Codigo}}</td>
                    <td>{{Correo_usuario}}</td>
                    <td>{{Nombre_carrera}}</td>
                    <td>{{Nombre_tipo}}</td>
                </tr>

                {{/each}}


            </tbody>
        </table>
    </div>

</div>