<tr>
    <th scope="row">{{@key}}</th>
    <td>
        <div class="row">

        <div class="row d-flex justify-content-center">

            <div class="input.group-text">
                <input type="checkbox" name="{{Codigo}}">
            </div>
        </div>
    </td>
    <td>{{Nombre_usuario}}</td>
    <td>{{Codigo}}</td>
    <td>{{Correo_usuario}}</td>
    <td>{{Nombre_carrera}}</td>
    <td>{{Nombre_tipo}}</td>
</tr>