<div class="container p-2">
  {{#each data}}
  <h4 class="display-4">{{Nombre_materia}}</h4>
  <h6 class="display-5">Grupo : {{Grupo_materia}}</h6>
  {{/each}}
</div>
<div class="card">
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
            data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Añadir Estudiantes
          </button>
        </h2>
      </div>
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <form action="/admin/course/setting/add-students/{{id}}" method="POST">
            <div class="p-2">
              <h4>Integrantes Curso</h4>
              <button class="btn btn-success m-2">Agregar Estudiantes</button>
              <table class="table" id="id_course">
                <thead class="thead-dark">
                  {{> table_course_cont_config}}
                </thead>
                <tbody>
                  {{#each estudiantes}}
                  {{>table_course_list_config}}
                  {{/each}}
                </tbody>
              </table>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
            data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
            Añadir Monitor
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <form action="/admin/course/setting/add-monitor/{{id}}" method="POST">
            <div class="p-2">
              <h4>Monitores</h4>
              <button class="btn btn-success m-2">Agregar Monitor</button>
              <table class="table" id="id_user_root">
                <thead class="thead-dark">
                  {{> table_course_cont_config}}
                </thead>
                <tbody>
                  {{#each monitor}}
                  {{>table_course_list_config}}
                  {{/each}}
                </tbody>
              </table>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
            data-target="#collapseThree" aria-expanded="true" aria-controls="collapseOne">
            Añadir Docente
          </button>
        </h2>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <form action="/admin/course/setting/add-teacher/{{id}}" method="POST">
            <div class="p-2">
              <h4>Docente</h4>
              <button class="btn btn-success m-2">Agregar Docente</button>
              <table class="table" id="id_user_root">
                <thead class="thead-dark">
                  {{> table_course_cont_config}}
                </thead>
                <tbody>
                  {{#each docentes}}
                  {{>table_course_list_config}}
                  {{/each}}
                </tbody>
              </table>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
            data-target="#collapseFour" aria-expanded="true" aria-controls="collapseOne">
            Listar
          </button>
        </h2>
      </div>
      <div id="collapseFour" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <form action="/admin/course/setting/delete/{{id}}" method="POST">
            <div class="p-2">
              {{> table_course_list}}
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{{> footer}}