<div class="container p-4 ">
    <div class="row ">
        <div class="col-md-8 themed-grid-col fc">
            {{#each course}}
            <h4 class="text-uppercase">{{Nombre_materia}} {{Grupo_materia}}</h4>
            {{/each}}
            {{#each docente}}
            <address>
                <em>Docente : {{Nombre_usuario}} - correo : {{Correo_usuario}}</em>
            </address>
            {{/each}}
            {{#each monitor}}
            <address>
                <em>Monitor : {{Nombre_usuario}} - correo : {{Correo_usuario}}</em>
            </address>
            {{/each}}
        </div>

        <div class="col-6 col-md-4 themed-grid-col ">
            <div class="row justify-content-center alighn-items-center p-4">
                {{#each course}}
                <a href="/user/course/add-forum/{{idMateria}}" class="btn btn-outline-info " role="button"
                    aria-pressed="true">Agregar
                    Nuevo
                    Tema</a>
                {{/each}}
            </div>

        </div>
    </div>
</div>
<div class="container p-8 ">
    <table class="table" id="id_user">
        <thead>
            <tr>
                <th scope="col" class="small">Aporte</th>
                <th scope="col" class="small">Titulo</th>
                <th scope="col" class="small">Descripcion</th>
                <th scope="col" class="small">Numero Comentarios</th>
                <th scope="col" class="small">Fecha de publicacion</th>
            </tr>
        </thead>
        <tbody>
            {{#each foro}}
            <tr>
                <td class="small">{{Usuario_Codigo}}</td>
                <td class="small">
                    <a href="/user/course/forum/{{idForo}}">
                        {{title}}
                    </a>
                </td>
                <td class="small">{{Descripcion}}</td>
                <td class="small">0</td>
                <td class="small">{{timeago fechaPublicacion}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>


{{> footer}}